.list{
  list-style: none;
}
.item{
  display: flex;
  flex-direction: row;
  width: 200px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.offline {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: red;
}

.online {
  composes: offline;
  background-color: green;
}
