table {
  border: 1px solid #ccc;
  /* граница всей таблицы */
}

tr {
  border: 1px solid #ccc;
  /* границы между строками */
}

td,
th {
  border: 1px solid #ccc;
  /* границы между столбцами */
}
